
// ***********************head**********************
.container_head {
    position:relative;
    display:flex;
}
.nav_menu {
    display:flex;
    list-style: none;
    margin-left:2rem;
    margin:0px;
    padding:0px;
}
.nav_menu li {
    margin-left:2rem;
    
}

